<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript" defer>
        const list = /*[[${list}]]*/ [];
        const _count = /*[[${count}]]*/ 0;

        const count = Number(_count);
        const params = new URLSearchParams(window.location.search);
        const page = Number(params.get('page'));
        const limit = Number(params.get('limit'));
        const order = params.get('order');
        const sort = params.get('sort');
        const maxPageCount = Math.ceil(count / limit);

    </script>

</head>
<body>
    hi first sample
    <p th:text="'Number of Posts: ' + ${list.size()}"></p>  <!-- 목록의 크기를 렌더링합니다. -->
    <p th:text="'Total count of List' + ${count}"></p>
    <ul>
        <li
                th:each="post : ${list}"
                th:text="${post.textContent}">
        </li>
    </ul>
    <div>
        <div th:insert="~{/post_list/components/indicator :: indicator}"></div>
    </div>
</body>
</html>