<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Post</title>
    <script th:inline="javascript" defer>
        const _isRedirected = /*[[${isRedirected}]]*/ false;
        const _isSuccess = /*[[${isSuccess}]]*/ false;


    </script>
    <script defer>
        const showResult = (isSuccess) => {
            if (isSuccess == null) return;

            const msg = isSuccess ? "등록에 성공하였습니다." : "등록에 실패하였습니다.";
            alert(msg);
        }

        showResult(_isSuccess);
        if (_isSuccess) window.location.href="/posts";

    </script>
</head>
<body>
<h1>New Post</h1>
<form class="form" method="post" action="/post" enctype="multipart/form-data" th:object="${post}">
    <input type="hidden" name="userId" th:value="1"/>

    <div>
        <label for="title">게시글 제목</label>
        <input type="text" id="title" name="title" th:value="*{title}"/>
        <span th:if="${isRedirected == 1 and #fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>


    <div>
        <label for="textContent">게시글 내용</label>
        <input type="text" id="textContent" name="textContent" th:value="*{textContent}"/>
        <span th:if="${isRedirected == 1 and #fields.hasErrors('textContent')}" th:errors="*{textContent}"></span>
    </div>

    <div>
        <label for="file1">이미지 첨부 1</label>
        <input id="file1" type="file" name="images"/>
    </div>
    <div>
        <label for="file1">이미지 첨부 2</label>
        <input id="file2" type="file" name="images"/>
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>
