<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="imgTag1">
    <div class="img-field">
        <label for="file1">이미지 첨부 1</label>
        <input id="file1" type="file" name="images"/>
        <input hidden th:if="${post.images[0]?.id}" id="file1_idx" name="imgFlag[0]" type="text" th:value="${post.images[0]?.id}"/>
        <img id="file1_thumb" th:if="${post.images[0]?.url}" th:src="${post.images[0]?.url}" width="100px"/>
        <button id="file1_del" type="button">삭제</button>
    </div>
</div>
